<h1>New comment</h1>

<% if @header_type == 'song' %>
  <p class="center"><i><b><%= @song.title %></b></i></p>
<% elsif @header_type == 'post' %>
  <p class="center"><i><b><%= @post.title %></b></i></p>
  <p class="center"><%= @post.message %></p>
<% end %>

<%= render 'form' %>
