<p>
  <h1>Chords & Lyrics</h1>
  <div="center">
    <h3><%= @song.title %></h3>
    <%= link_to "Edit", controller: :songs, action: :edit, id: @song.id %>
  </div>
  <%= auto_link(simple_format(@song.comment)) %>
</p>
