<h1>Contact Information</h1>
<p class="center">Event Co-ordinator Daniel Weddle (who also happens to be a fairly kick-ass drummer) can be reached at <a href="mailto:dweddle@siteavail.com">dweddle@siteavail.com</a>.