<div class="center">
  <div class="toptext">
    <h2>2013 Bio-Tech All Star Rockers</h2>
    <h3>Proudly Present</h3>
    <h1>A Rock and Roll Show</h1>
    <h3>To Benefit Target Cancer</h3>
    <p><b><%= @gig.date %></b> at <%= @gig.time %></p>
    <img src="http://www.crazeworshipcrew.com/uploads/rock_concert.jpg">
    <p class="center">
      <h3><%= @gig.description %></h3>
    </p>
  </div>
</div>
