<div class="center">
  <div class="toptext">
    <h1>Welcome to the 2013 Target Cancer Jam Site!</h1>
    <h3>Your one-stop resource for song, rehearsal and set-list information</h3>
    <p class="center">(dates and location details forthcoming)</p>
  </div>
</div>
