<h1>Welcome to the 2013 Target Cancer Jam Site!</h1>
<h3>Your one-stop resource for song, rehearsal and set-list information</h3>
<p>(dates and location details forthcoming)</p>
<br/>
<p>
  Proceed to the 
	  <%= link_to "List of Songs!", controller: :songs %>
</p>
<br/><br/><hr/>
<p>
  This site is a work in progress by <a href="mailto:kwood@rcn.com">Kent Wood</a>.  
  <br/>See my blog at <a href="http://wordpress.fearofjava.com">Fearofjava.com</a>.
  <br/>Powered by <a href="http://rubyonrails.org/">Ruby On Rails 3.2</a>
</p>
