<div class="topbox">
  <h1>New song</h1>
</div>
<div class="toptext">
  <p>Recommended song title format:  "Bandname - Song Title"</p>
  <p>For the url, just find the song you want on YouTube (or elsewhere) 
    <br/>and then copy/paste the url from the browser nav bar.</p><br />
</div>


<%= render 'form' %>

<%= link_to 'Back to Song Listings', songs_path %>
