<h1>New song</h1>
<div class="toptext">
  <div class="center">
    <p>Recommended song title format:  "Bandname - Song Title"</p>
    <p>For the url, just find the song you want on YouTube (or elsewhere) 
      <br/>and then copy/paste the url from the browser nav bar.</p><br />
  </div>
</div>


<%= render 'form' %>
