/* experimental css for entire site by Kent 
   I updated the layouts to just use this file,
   so bear that in mind if you want to roll this 
   back. */

body 
  {
    background-color:Beige;
  }

ul
  {
    list-style-type:none;
    text-align: center;
    margin:2;
    padding:2;
  }

li
  {
    width:160px;
    display:inline;
    text-align:center;
  }

.menuitem
  {
    display:block;
    width:60px;
  }

h1, h2, h3, div.center
  {
    text-align:center;
  }

p.center
  {
     text-align:center;
     margin-right:20%;
     margin-left:20%;
  }


table
  {
    border-collapse:collapse;
    width:75%;
    margin-bottom:25px;
  }

.rounded-corners {
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}  

table.summary
  {
    border-collapse:collapse;
    width:50%;
    margin-bottom:25px;
  }

table.center 
  {
    margin-left:auto; 
    margin-right:auto;
  }

td
  {
    padding:4px;
    background-color:Wheat;
  }


td.summary
  {
    padding:0px;
    background-color:Wheat;
    text-align:center;
    font-size:100%;
  }

td.post_title
{
  padding:4px;
  background-color:Wheat;
  width:15%;
}

th
  {
    padding:2px;
    background-color:SandyBrown;
  }

th.summary
{
  padding:0px;
  background-color:SandyBrown;
  font-size:150%;
}

td.options
  {
    text-align:center;
  }

table,th,td
  {
    border:1px solid black;
  }

th.songlist
  {
    border:0px;
  }

.tinyPrint
  {
    font-size:70%;
    width:10%;
  }

