// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.delete_song {
    color: #2da1c1;
    font-size: small;
    text-decoration: none;
    float: right;
}

div.delete_song:hover {
    color: #f90;
    text-decoration: underline;         
}
